
<% 
showErrorHelper = (errors) => { 
    if(!errors) return;
    let html = ''
    errors.forEach((error)=>{
        let name = error.path.charAt(0).toUpperCase() + error.path.slice(1);
        html += `<div class="row">
            <div class="col-lg-6">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <li><b>${name}</b> : ${error.msg}</li>
                    </ul>
                </div>
            </div>
        </div>`
    })
    return html
}   
%>

