<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- Include Heading bar -->
    <% include ../content/heading-bar.ejs %>

    <!-- Include Chart -->
    <% include ../content/chart.ejs %>

    <!-- Include Table section -->
    <% include ../content/table-section.ejs %>
</main>