:root {
  --phoenix-navbar-top-bg-color: #fff;

  --phoenix-navbar-top-height: 4rem;

  --phoenix-navbar-vertical-border-color: #cbd0dd;

  --phoenix-logo-text: #6e7891;

  --phoenix-body-font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
