<%
categoryHelper = (categories, category) => {
  return `
     <select name="categoryId" class="form-control group-dropdown">
      <option value="novalue">Choose Category</option>
      ${categories.map(({ _id, name }) => {
        return `
          <option value="${_id}" ${(category && category[0].toString() === _id.toString()) ? 'selected' : ''}>${name}</option>`
        }).join('')}
      </select>
     `
}
%>