
<%

groupACPHelper = (group_acp,linkPrefix,id) => {
   let link = linkPrefix + "change-groups/"+ id + "/" + group_acp
    let classGroup = (group_acp === 'yes') ? 'on' : 'off'

     return `<a class="" href="${link}">
              <i class="fa-solid fa-toggle-${classGroup} fa-2xl"></i>
        </a>`
}
%>

