<%
menuHelper = (menus, menu) => {
  return `
     <select name="menu" class="form-control group-dropdown">
      <option value="novalue">Choose Menu ${menu.slug}</option>
      ${menus.map(({ _id, name }) => {
        return `
          <option value="${_id}" ${(_id.toString() === menu.id) ? 'selected' : ''}>${name}</option>`
        }).join('')}
      </select>
     `
}
%>