<%
paginationHelper = (pagination, collection, currentStatus, keywork) => {
  let totalItems = pagination.totalItems;
  let totalItemsPage = pagination.totalItemsPage;
  let totalPages = Math.ceil(totalItems / totalItemsPage);
  let currentPage = pagination.currentPage;
  let pageRanges = pagination.pageRanges;
  let to = currentPage * totalItemsPage;
  let from = to - totalItemsPage + 1;

  if (to > totalItems) to = totalItems;

  let xhtmlStart = '';
  let xhtmlPrev = '';
  let xhtmlNum = '';
  let xhtmlNext = '';
  let xhtmlEnd = '';
  let xhtmlPagination = '';
  let link = systemConfig.prefixAdmin + '/' + collection + '/' + 'status/' + currentStatus;
  if (keywork !== '') {
    link += '?keywork=' + keywork + '&page=';
  } else {
    link += '&page=';
  }
  if (totalPages > 1) {

    if (currentPage > 1) {
      xhtmlStart = `<li class="page-item"><a class="page-link" href="/${link}1" >Start</a></li>`;
      xhtmlPrev = `<li class="page-item"><a class="page-link" href="/${link}${currentPage - 1}" >Prev</a></li>`;
    }

    if (currentPage < totalPages) {
      xhtmlEnd = `<li class="page-item"><a class="page-link" href="/${link}${totalPages}" >End</a></li>`;
      xhtmlNext = `<li class="page-item"><a class="page-link" href="/${link}${currentPage + 1}" >Next</a></li>`;
    }

    let middle = Math.ceil(pageRanges / 2);
    let min = currentPage - middle + 1;
    let max = pageRanges + min - 1;

    if (min < 1) {
      min = 1;
      max = pageRanges;
    }

    if (max > totalPages) {
      max = totalPages;
      min = ((totalPages - pageRanges + 1) > 1) ? (totalPages - pageRanges + 1) : 1;
    }

    for (let i = min; i <= max; i++) {
      xhtmlNum += `<li class="page-item"><a class="page-link" href="/${link}${i}">${i}</a></li>`;
    }
    xhtmlPagination = `<ul class="pagination justify-content-end">${xhtmlStart}${xhtmlPrev}${xhtmlNum}${xhtmlNext}${xhtmlEnd}</ul>`;

  }


  return `
   <div class="panel panel-info" id="pagination">
    <div class="panel-heading">
        <span class="label label-warning">Total pages:${totalPages}</span>
        <span class="label label-danger">Total entries:${totalItems}</span>
    </div>
    <nav aria-label="Page navigation">
       ${xhtmlPagination}
    </nav>
</div>
   `;
};
%>