<%
showErrorHelper = (errors) => {
  if (!errors) return;

  const messages = errors.map(({path, msg}) => {
    const name = path.charAt(0).toUpperCase() + path.slice(1);

    return `
      <p class="mb-0">
        ${msg}
      </p>
      `;
  }).join('');

  return `
  <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                ${messages}
            </div>
        </div>
    </div>
  `;
};
%>

