
<% 

statusHelper = (status, id, collection) => { 
    let link = systemConfig.prefixAdmin + "/" + collection + "/change-status/"+ id + "/" + status
    let xhtml = '';
        if(status === 'active'){
            xhtml= '<span class="badge text-bg-info rounded-1 text-white fw-normal fs--1 p-2 py-1">Active</span>'
        }else{
            xhtml= '<span class="badge text-bg-warning rounded-1 text-white fw-normal fs--1 px-2 py-1">Inactive</span>'
        } 
    
     return `<a href="/${link}">${xhtml}</a>`

}
%>