:root {
  --text-color-primary: #012970;
  --scrollbar-bg: rgba(159, 166, 188, 0.55);
  --body-font-size: 0.8rem;
  color-scheme: light;
  --sa-color-white: #ffffff;
  --sa-color-black: #000000;
  --sa-color-primary: #1bbae1;
  --sa-color-primary-light-3: #5fcfea;
  --sa-color-primary-light-5: #8dddf0;
  --sa-color-primary-light-7: #bbeaf6;
  --sa-color-primary-light-8: #d1f1f9;
  --sa-color-primary-light-9: #e8f8fc;
  --sa-color-primary-dark-2: #1695b4;
  --sa-color-success: #11ce66;
  --sa-color-success-light-3: #58dd94;
  --sa-color-success-light-5: #88e7b3;
  --sa-color-success-light-7: #b8f0d1;
  --sa-color-success-light-8: #cff5e0;
  --sa-color-success-light-9: #e7faf0;
  --sa-color-success-dark-2: #0ea552;
  --sa-color-warning: #e6a23c;
  --sa-color-warning-light-3: #eebe77;
  --sa-color-warning-light-5: #f3d19e;
  --sa-color-warning-light-7: #f8e3c5;
  --sa-color-warning-light-8: #faecd8;
  --sa-color-warning-light-9: #fdf6ec;
  --sa-color-warning-dark-2: #b88230;
  --sa-color-danger: #f56c6c;
  --sa-color-danger-light-3: #f89898;
  --sa-color-danger-light-5: #fab6b6;
  --sa-color-danger-light-7: #fcd3d3;
  --sa-color-danger-light-8: #fde2e2;
  --sa-color-danger-light-9: #fef0f0;
  --sa-color-danger-dark-2: #c45656;
  --sa-color-error: #ff3126;
  --sa-color-error-light-3: #ff6f67;
  --sa-color-error-light-5: #ff9893;
  --sa-color-error-light-7: #ffc1be;
  --sa-color-error-light-8: #ffd6d4;
  --sa-color-error-light-9: #ffeae9;
  --sa-color-error-dark-2: #cc271e;
  --sa-color-info: #6d7478;
  --sa-color-info-light-3: #999ea1;
  --sa-color-info-light-5: #b6babc;
  --sa-color-info-light-7: #d3d5d7;
  --sa-color-info-light-8: #e2e3e4;
  --sa-color-info-light-9: #f0f1f2;
  --sa-color-info-dark-2: #575d60;
  --sa-bg-color: #fff;
  --sa-bg-color-page: #f8f9fb;
  --sa-bg-color-overlay: #ffffff;
  --sa-text-color-primary: #3b3b3b;
  --sa-text-color-regular: #6d7478;
  --sa-text-color-secondary: #b4bbc3;
  --sa-text-color-placeholder: #b4bbc3;
  --sa-text-color-disabled: #b4bbc3;
  --sa-text-color-light: #f8f9fb;
  --sa-border-color: #dce1e7;
  --sa-border-color-light: #dce1e7;
  --sa-border-color-lighter: #edf1f5;
  --sa-border-color-extra-light: #f2f6fc;
  --sa-border-color-dark: #d4d7de;
  --sa-border-color-darker: #b4bbc3;
  --sa-fill-color: #f0f2f5;
  --sa-fill-color-light: #f8f9fb;
  --sa-fill-color-lighter: #f8f9fb;
  --sa-fill-color-extra-light: #fafcff;
  --sa-fill-color-dark: #ebedf0;
  --sa-fill-color-darker: #e6e8eb;
  --sa-fill-color-blank: #fff;
  --sa-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
  --sa-box-shadow-light: 0px 1px 20px rgba(0, 0, 0, .15);
  --sa-box-shadow-lighter: 0px 1px 20px rgba(0, 0, 0, .08);
  --sa-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
  --sa-disabled-bg-color: var(--sa-fill-color-light);
  --sa-disabled-text-color: var(--sa-text-color-placeholder);
  --sa-disabled-border-color: var(--sa-border-color-light);
  --sa-overlay-color: rgba(0, 0, 0, .8);
  --sa-overlay-color-light: rgba(0, 0, 0, .5);
  --sa-overlay-color-lighter: rgba(0, 0, 0, .35);
  --sa-mask-color: rgba(255, 255, 255, .9);
  --sa-mask-color-extra-light: rgba(255, 255, 255, .3);
  --sa-border-width: 1px;
  --sa-border-style: solid;
  --sa-border-color-hover: var(--sa-text-color-disabled);
  --sa-border: var(--sa-border-width) var(--sa-border-style) var(--sa-border-color);
  --sa-svg-monochrome-grey: var(--sa-border-color);

  --sa-color-secondary: #f74000;
  --sa-color-secondary-light: #fdf9f7;
  --sa-color-employee: #f74000;
  --sa-color-visitor: #099ed1;
  --sa-bg-color-login: var(--sa-color-secondary-light);
  --sa-color-nav-bg: #fff;
  --sa-color-settings-nav-bg: #f8f9fb;
  --sa-location-selector-manage-bg: #f8f9fb;
  --sa-color-table-header-bg: #f8f9fb;
  --sa-table-sort-caret-border-color: #6d7478;
  --sa-filters-popover-border-color: #c4e7f5;
  --sa-filters-popover-bg-color: #f5fbfd;
  --sa-avatar-text-color-custom: #1bbae1;
  --sa-avatar-bg-color-custom: #c4e7f5;
  --sa-upload-bg-color: #f5fbfd;
  --sa-upload-border-color: #c4e7f5;
  --sa-upload-border-hover-color: #1bbae1;
  --sa-upload-icon-color: #6d7478;
  --sa-select-caret-icon-color: #6d7478;
  --sa-tag-bg-color-custom: #edf1f5;
  --sa-tag-text-color-custom: #6d7478;
  --sa-tag-hover-color-text: #dce1e7;
  --sa-tag-hover-color-custom: #6d7478;
  --sa-tag-dark-bg-color: #b4bbc3;
  --sa-tag-dark-text-color: #fff;
  --sa-selector-border: rgba(0, 0, 0, .1);
  --sa-selector-bg: var(--sa-bg-color);
  --sa-selector-list: #f8f9fb;
  --sa-selector-item-border: #edf1f5;
  --sa-selector-item-bg: var(--sa-bg-color);
  --sa-selector-item-action: #1bbae1;
  --sa-button-primary-text-color: #fff;
  --sa-button-primary-hover-color: #099ed1;
  --sa-button-secondary-hover-color: #f5fbfd;
  --sa-button-tertiary-border-color: #b4bbc3;
  --sa-button-tertiary-hover-color: #f8f9fb;
  --sa-button-icon-border-color: #9dddf0;
  --sa-switch-off-color-custom: #b4bbc3;
  --sa-switch-on-color-custom: #11ce66;
  --sa-counter-pill-color-type-grey: #b4bbc3;
  --sa-counter-pill-color-type-orange: #f74000;
  --sa-counter-pill-color-type-blue: #1bbae1;
  --sa-counter-pill-color-type-green: #11ce66;
  --sa-list-map-switch-bg-color: #dce1e7;
  --sa-icon-bg-color: #edf1f5;
  --sa-tab-item-bar-color: #6d7478;
  --sa-tab-item-txt-hover-color: #f74000;
  --sa-tab-item-txt-active-color: #f74000;
  --sa-tab-item-bar-active-color: #f74000;
  --sa-tab-border-color: #dce1e7;
  --sa-tooltip-text-color: #fff;
  --sa-tooltip-bg-color: #3b3b3b;
  --sa-alert-info-bg-color: #f8f9fb;
  --sa-alert-warning-bg-color: #fdf6ec;
  --sa-alert-success-bg-color: #ecfbf3;
  --sa-alert-error-bg-color: #fdedea;
  --sa-info-box-title-color: #3b3b3b;
  --sa-info-box-icon-color: #6d7478;
  --sa-status-selector-divide-border-color: rgba(255, 255, 255, .25);
  --sa-status-selector-in-bg-color: #11ce66;
  --sa-status-selector-in-hover-bg-color: #15a756;
  --sa-status-selector-out-bg-color: #b4bbc3;
  --sa-status-selector-out-hover-bg-color: rgba(109, 116, 120, .7);
  --sa-status-selector-remote-bg-color: #1bbae1;
  --sa-status-selector-remote-hover-bg-color: #099ed1;
  --sa-status-selector-pending-bg-color: #f74000;
  --sa-status-selector-pending-hover-bg-color: #d83b05;
  --sa-status-selector-denied-bg-color: #b4bbc3;
  --sa-status-selector-denied-hover-bg-color: rgba(109, 116, 120, .7);
  --sa-col-icon-checked-evacuation: #fff;
  --sa-col-evacuation-check: #b4bbc3;
  --sa-col-evacuation-checked: #11ce66;
  --sa-col-evacuation-checked-bg: #f3fdf7;
  --sa-input-number-icon-color: #6d7478;
  --sa-input-number-icon-color-focus: #1bbae1;
  --sa-input-number-bg: #fff;
  --sa-input-number-border-color-disabled: #dce1e7;
  --sa-expandable-box-header-icon-color: #6d7478;
  --sa-map-marker-active-bg: #11ce66;
  --sa-map-marker-active-hover: #15a756;
  --sa-map-marker-adding-bg: rgba(17, 206, 102, .35);
  --sa-map-marker-inactive-bg: #6d7478;
  --sa-map-marker-inactive-hover: #3b3b3b;
  --sa-checkbox-border-color: #b4bbc3;
  --sa-checkbox-hover-border-color: #6d7478;
  --sa-radio-inner-dot-bg-color-active: #fff;
  --sa-checkbox-bg-disabled: #edf1f5;
  --sa-checkbox-border-disabled: #dce1e7;
  --sa-checkbox-text-disabled: #b4bbc3;
  --sa-checkbox-hover-with-borders: #b4bbc3;
  --sa-checkbox-border-with-borders-disabled: #dce1e7;
  --sa-checkbox-bg-with-borders: #fff;
  --sa-checkbox-bg-with-borders-disabled: #f8f9fb;
  --sa-input-icon-prefix-color: #6d7478;
  --sa-ipad-elements-background-color: rgba(0, 0, 0, .3);
  --sa-ipad-arrow-bg: rgba(109, 116, 120, .6);
  --sa-ipad-arrow-bg-hover: rgba(109, 116, 120, .8);
  --sa-color-ipad-frame: #8F9595;
  --sa-color-ipad-border: #000;
  --sa-color-ipad-background: #fff;
  --sa-ipad-overlays-border-color: #edf1f5;
  --sa-ipad-overlays-background-color: rgba(0, 0, 0, .4);
  --sa-divider-bg-within-popover: #fff;
  --sa-order-summary-bg-color: #f5fbfd;
  --sa-order-summary-border-color: #c4e7f5;

  --sa-menu-active-color: var(--sa-color-primary);
  --sa-menu-text-color: var(--sa-text-color-primary);
  --sa-menu-hover-text-color: var(--sa-color-primary);
  --sa-menu-bg-color: var(--sa-fill-color-blank);
  --sa-menu-hover-bg-color: var(--sa-color-primary-light-9);
  --sa-menu-item-height: 56px;
  --sa-menu-sub-item-height: calc(var(--sa-menu-item-height) - 6px);
  --sa-menu-horizontal-sub-item-height: 36px;
  --sa-menu-item-font-size: var(--sa-font-size-base);
  --sa-menu-item-hover-fill: var(--sa-color-primary-light-9);
  --sa-menu-border-color: var(--sa-border-color);
  --sa-menu-base-level-padding: 20px;
  --sa-menu-level-padding: 20px;
  --sa-menu-icon-width: 24px;

  --sa-color-primary-rgb: 27, 186, 225;
  --sa-color-success-rgb: 17, 206, 102;
  --sa-color-warning-rgb: 230, 162, 60;
  --sa-color-danger-rgb: 245, 108, 108;
  --sa-color-error-rgb: 255, 49, 38;
  --sa-color-info-rgb: 109, 116, 120;
  --sa-font-size-extra-large: 20px;
  --sa-font-size-large: 18px;
  --sa-font-size-medium: 16px;
  --sa-font-size-base: 14px;
  --sa-font-size-small: 13px;
  --sa-font-size-extra-small: 12px;
  --sa-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --sa-font-weight-primary: 500;
  --sa-font-line-height-primary: 24px;
  --sa-index-normal: 1;
  --sa-index-top: 1000;
  --sa-index-popper: 2000;
  --sa-border-radius-base: 4px;
  --sa-border-radius-small: 2px;
  --sa-border-radius-round: 20px;
  --sa-border-radius-circle: 100%;
  --sa-transition-duration: .3s;
  --sa-transition-duration-fast: .1s;
  --sa-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
  --sa-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
  --sa-transition-all: all var(--sa-transition-duration) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-fade: opacity var(--sa-transition-duration) var(--sa-transition-function-fast-bezier);
  --sa-transition-md-fade: transform var(--sa-transition-duration) var(--sa-transition-function-fast-bezier), opacity var(--sa-transition-duration) var(--sa-transition-function-fast-bezier);
  --sa-transition-fade-linear: opacity var(--sa-transition-duration-fast) linear;
  --sa-transition-border: border-color var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-box-shadow: box-shadow var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-color: color var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-component-size-large: 40px;
  --sa-component-size: 32px;
  --sa-component-size-small: 24px;

  --breakpoint-xs: 490px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 991px;
  --breakpoint-lg: 1024px;

  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-headings: "VisbyCF", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-thin: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
