/*--------------------------------------------------------------
# Select
--------------------------------------------------------------*/
.sa-select {
  width: 100%;
}

.sa-select {
  --sa-select-border-color-hover: var(--sa-border-color-hover);
  --sa-select-disabled-border: var(--sa-disabled-border-color);
  --sa-select-font-size: var(--sa-font-size-base);
  --sa-select-close-hover-color: var(--sa-text-color-secondary);
  --sa-select-input-color: var(--sa-text-color-placeholder);
  --sa-select-multiple-input-color: var(--sa-text-color-regular);
  --sa-select-input-focus-border-color: var(--sa-color-primary);
  --sa-select-input-font-size: 14px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 32px;
}

.sa-select--large {
  line-height: 40px;
}

.sa-select .sa-input {
  display: flex;
}

.sa-select .sa-input .sa-input__inner {
  text-transform: capitalize;
}

.sa-select .sa-input .sa-select__caret.sa-icon {
  position: relative;
  height: inherit;
  z-index: 2;
}

.sa-select .sa-input .sa-select__caret.is-reverse {
    transform: rotate(-180deg);
}

.sa-select .sa-input .sa-select__caret.sa-icon {
  color: var(--sa-select-caret-icon-color);
}

.sa-select .sa-input .sa-select__caret {
  color: var(--sa-select-input-color);
  font-size: var(--sa-select-input-font-size);
  transition: transform var(--sa-transition-duration);
  transform: rotate(0);
  cursor: pointer;
}

.sa-input__suffix-inner > :first-child {
  margin-left: 8px;
}

.sa-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.sa-select-dropdown {
  z-index: calc(var(--sa-index-top) + 1);
  border-radius: var(--sa-border-radius-base);
  box-sizing: border-box;
}

.sa-select__popper.sa-popper {
  background: var(--sa-bg-color-overlay);
  border: 1px solid var(--sa-border-color-light);
  box-shadow: var(--sa-box-shadow-light);
}

.sa-popper.is-pure {
  padding: 0;
}

.sa-popper.is-light {
  background: var(--sa-bg-color-overlay);
  border: 1px solid var(--sa-border-color-light);
}

.sa-popper {
  position: absolute;
  border-radius: var(--sa-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 100%;
  word-wrap: break-word;
  visibility: visible;
  margin-top: 10px;
}

.sa-popper.is-loading {
  visibility: hidden;
  opacity: 0;
}

.sa-popper {
  --sa-popover-bg-color: var(--sa-bg-color-overlay);
  --sa-popover-font-size: var(--sa-font-size-base);
  --sa-popover-border-color: var(--sa-border-color-lighter);
  --sa-popover-padding: 12px;
  --sa-popover-padding-large: 18px 20px;
  --sa-popover-title-font-size: 16px;
  --sa-popover-title-text-color: var(--sa-text-color-primary);
  --sa-popover-border-radius: 4px;
  --sa-popper-border-radius: var(--sa-popover-border-radius, 4px);
}

.sa-popper[data-popper-placement^=bottom] > .sa-popper__arrow {
  top: -5px;
}

.sa-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.sa-select__popper.sa-popper[data-popper-placement^=bottom] .sa-popper__arrow:before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.sa-select__popper.sa-popper .sa-popper__arrow:before {
  border: 1px solid var(--sa-border-color-light);
}

.sa-popper[data-popper-placement^=bottom] .sa-popper__arrow:before {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

.sa-popper[data-popper-placement^=bottom] > .sa-popper__arrow:before {
  border-top-left-radius: 2px;
}

.sa-popper.is-light .sa-popper__arrow:before {
  border: 1px solid var(--sa-border-color-light);
  background: var(--sa-bg-color-overlay);
  right: 0;
  left: 0;
}

.sa-popper__arrow:before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: " ";
  transform: rotate(45deg);
  background: var(--sa-text-color-primary);
  box-sizing: border-box;
}

.sa-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.sa-scrollbar {
  --sa-scrollbar-opacity: .3;
  --sa-scrollbar-bg-color: var(--sa-text-color-secondary);
  --sa-scrollbar-hover-opacity: .5;
  --sa-scrollbar-hover-bg-color: var(--sa-text-color-secondary);
}

.sa-select-dropdown__wrap {
  max-height: 274px;
}

.sa-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}

.sa-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}

.sa-select-dropdown__list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-sizing: border-box;
}

.sa-select-dropdown .sa-select-dropdown__item.selected {
  font-weight: var(--font-semi-bold);
}

.sa-select-dropdown__item.selected {
  color: var(--sa-color-primary);
  font-weight: 700;
}

.sa-select-dropdown .sa-select-dropdown__item {
  line-height: 30px;
  height: 30px;
  color: var(--sa-text-color-primary);
}

.sa-select-dropdown__item {
  font-size: var(--sa-font-size-base);
  padding: 0 32px 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--sa-text-color-regular);
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}