<!DOCTYPE html>
<html>
<head>
  <% include elements/header.ejs %>
</head>
<body>
<% include elements/navbar.ejs %>
<main id="main" class="main">
  <%- body; %>
</main>
<% include elements/script.ejs %>
<div class="sa-popper is-pure is-light sa-select__popper" data-popper-placement="bottom-start">
  <span class="sa-popper__arrow"></span>
  <div class="sa-select-dropdown">
    <div class="sa-scrollbar">
      <div class="sa-select-dropdown__wrap sa-scrollbar__wrap sa-scrollbar__wrap--hidden-default">
        <ul class="sa-scrollbar__view sa-select-dropdown__list">
          <li class="sa-select-dropdown__item selected">
            <span>Item 1</span>
          </li>
          <li class="sa-select-dropdown__item selected">
            <span>Item 2</span>
          </li>
          <li class="sa-select-dropdown__item">
            <span>Item 3</span>
          </li>
          <li class="sa-select-dropdown__item">
            <span>Item 4</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- sa-popper -->
</body>
</html>