<%
avatarHelper = (avatar) => {
  const avatarImage = avatar ? `upload/users/${avatar}` : 'images/avatar.jpg'

return `
   <div class="avatar avatar-l">
     <img class="rounded-circle bg-dark-light" src="${avatarImage}" alt="">
    </div>
    `
}
%>