<%
filterStatusHelper = (collection, statusFillter, keyword) => {
  let xhtml = '';

  statusFillter.forEach((statusFillter) => {
    let link = `/${systemConfig.prefixAdmin}/${collection}/status/${statusFillter.value}`;
    if (keyword !== '') {
      link += `?keyword=${keyword}`;
    }
    xhtml += `
      <li class="nav-item" role="presentation">
        <a class="nav-link ${statusFillter.class} fs--1" href="${link}" role="tab">
            ${statusFillter.name.toUpperCase()}
            (${statusFillter.count})
        </a>
      </li>`;
  });
  return xhtml;
};
%>

