<%
groupHelper = (groups, selectedGroup) => {
  if (typeof selectedGroup === 'undefined') return 'Id not found';

  return `
     <select name="group" class="form-control group-dropdown">
      <option value="novalue">Choose Group ${selectedGroup}</option>
      ${groups.map(({ _id, name }) => {
        return `
          <option value="${_id}" ${(selectedGroup === _id.toString()) ? 'selected' : ''}>${name}</option>`
        }).join('')}
      </select>
     `
}
%>