
<% 
    sortHelper = (collection,name, fiedName, sortFiedCurrent, sortTypeCurrent) => { 
    let oder = (sortTypeCurrent === 'asc') ? 'desc' : 'asc'
    let link = `/${systemConfig.prefixAdmin}/${collection}/sort/${sortFiedCurrent}/${oder}`
    let icon = '<i class="fa fa-fw fa-sort"></i>'

    if(fiedName == sortFiedCurrent){
        icon = `<i class="fa fa-fw fa-sort-${sortTypeCurrent}"></i>`
    }
    
     let xhtml = `
        <a href="${link}" class="title_col">${name} ${icon}</i></a>`

   return xhtml;
}
    
%>

