:root {
  --text-color-primary: #012970;
  --scrollbar-bg: rgba(159, 166, 188, 0.55);
  --body-font-size: 0.8rem;
  color-scheme: light;
  --sa-color-white: #ffffff;
  --sa-color-black: #000000;
  --sa-color-primary: #1bbae1;
  --sa-color-primary-light-3: #5fcfea;
  --sa-color-primary-light-5: #8dddf0;
  --sa-color-primary-light-7: #bbeaf6;
  --sa-color-primary-light-8: #d1f1f9;
  --sa-color-primary-light-9: #e8f8fc;
  --sa-color-primary-dark-2: #1695b4;
  --sa-color-success: #11ce66;
  --sa-color-success-light-3: #58dd94;
  --sa-color-success-light-5: #88e7b3;
  --sa-color-success-light-7: #b8f0d1;
  --sa-color-success-light-8: #cff5e0;
  --sa-color-success-light-9: #e7faf0;
  --sa-color-success-dark-2: #0ea552;
  --sa-color-warning: #e6a23c;
  --sa-color-warning-light-3: #eebe77;
  --sa-color-warning-light-5: #f3d19e;
  --sa-color-warning-light-7: #f8e3c5;
  --sa-color-warning-light-8: #faecd8;
  --sa-color-warning-light-9: #fdf6ec;
  --sa-color-warning-dark-2: #b88230;
  --sa-color-danger: #f56c6c;
  --sa-color-danger-light-3: #f89898;
  --sa-color-danger-light-5: #fab6b6;
  --sa-color-danger-light-7: #fcd3d3;
  --sa-color-danger-light-8: #fde2e2;
  --sa-color-danger-light-9: #fef0f0;
  --sa-color-danger-dark-2: #c45656;
  --sa-color-error: #ff3126;
  --sa-color-error-light-3: #ff6f67;
  --sa-color-error-light-5: #ff9893;
  --sa-color-error-light-7: #ffc1be;
  --sa-color-error-light-8: #ffd6d4;
  --sa-color-error-light-9: #ffeae9;
  --sa-color-error-dark-2: #cc271e;
  --sa-color-info: #6d7478;
  --sa-color-info-light-3: #999ea1;
  --sa-color-info-light-5: #b6babc;
  --sa-color-info-light-7: #d3d5d7;
  --sa-color-info-light-8: #e2e3e4;
  --sa-color-info-light-9: #f0f1f2;
  --sa-color-info-dark-2: #575d60;
  --sa-bg-color: #fff;
  --sa-bg-color-page: #f8f9fb;
  --sa-bg-color-overlay: #ffffff;
  --sa-text-color-primary: #3b3b3b;
  --sa-text-color-regular: #6d7478;
  --sa-text-color-secondary: #b4bbc3;
  --sa-text-color-placeholder: #b4bbc3;
  --sa-text-color-disabled: #b4bbc3;
  --sa-text-color-light: #f8f9fb;
  --sa-border-color: #dce1e7;
  --sa-border-color-light: #dce1e7;
  --sa-border-color-lighter: #edf1f5;
  --sa-border-color-extra-light: #f2f6fc;
  --sa-border-color-dark: #d4d7de;
  --sa-border-color-darker: #b4bbc3;
  --sa-fill-color: #f0f2f5;
  --sa-fill-color-light: #f8f9fb;
  --sa-fill-color-lighter: #f8f9fb;
  --sa-fill-color-extra-light: #fafcff;
  --sa-fill-color-dark: #ebedf0;
  --sa-fill-color-darker: #e6e8eb;
  --sa-fill-color-blank: #fff;
  --sa-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
  --sa-box-shadow-light: 0px 1px 20px rgba(0, 0, 0, .15);
  --sa-box-shadow-lighter: 0px 1px 20px rgba(0, 0, 0, .08);
  --sa-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
  --sa-disabled-bg-color: var(--sa-fill-color-light);
  --sa-disabled-text-color: var(--sa-text-color-placeholder);
  --sa-disabled-border-color: var(--sa-border-color-light);
  --sa-overlay-color: rgba(0, 0, 0, .8);
  --sa-overlay-color-light: rgba(0, 0, 0, .5);
  --sa-overlay-color-lighter: rgba(0, 0, 0, .35);
  --sa-mask-color: rgba(255, 255, 255, .9);
  --sa-mask-color-extra-light: rgba(255, 255, 255, .3);
  --sa-border-width: 1px;
  --sa-border-style: solid;
  --sa-border-color-hover: var(--sa-text-color-disabled);
  --sa-border: var(--sa-border-width) var(--sa-border-style) var(--sa-border-color);
  --sa-svg-monochrome-grey: var(--sa-border-color);

  --sa-color-secondary: #f74000;
  --sa-color-secondary-light: #fdf9f7;
  --sa-color-employee: #f74000;
  --sa-color-visitor: #099ed1;
  --sa-bg-color-login: var(--sa-color-secondary-light);
  --sa-color-nav-bg: #fff;
  --sa-color-settings-nav-bg: #f8f9fb;
  --sa-location-selector-manage-bg: #f8f9fb;
  --sa-color-table-header-bg: #f8f9fb;
  --sa-table-sort-caret-border-color: #6d7478;
  --sa-filters-popover-border-color: #c4e7f5;
  --sa-filters-popover-bg-color: #f5fbfd;
  --sa-avatar-text-color-custom: #1bbae1;
  --sa-avatar-bg-color-custom: #c4e7f5;
  --sa-upload-bg-color: #f5fbfd;
  --sa-upload-border-color: #c4e7f5;
  --sa-upload-border-hover-color: #1bbae1;
  --sa-upload-icon-color: #6d7478;
  --sa-select-caret-icon-color: #6d7478;
  --sa-tag-bg-color-custom: #edf1f5;
  --sa-tag-text-color-custom: #6d7478;
  --sa-tag-hover-color-text: #dce1e7;
  --sa-tag-hover-color-custom: #6d7478;
  --sa-tag-dark-bg-color: #b4bbc3;
  --sa-tag-dark-text-color: #fff;
  --sa-selector-border: rgba(0, 0, 0, .1);
  --sa-selector-bg: var(--sa-bg-color);
  --sa-selector-list: #f8f9fb;
  --sa-selector-item-border: #edf1f5;
  --sa-selector-item-bg: var(--sa-bg-color);
  --sa-selector-item-action: #1bbae1;
  --sa-button-primary-text-color: #fff;
  --sa-button-primary-hover-color: #099ed1;
  --sa-button-secondary-hover-color: #f5fbfd;
  --sa-button-tertiary-border-color: #b4bbc3;
  --sa-button-tertiary-hover-color: #f8f9fb;
  --sa-button-icon-border-color: #9dddf0;
  --sa-switch-off-color-custom: #b4bbc3;
  --sa-switch-on-color-custom: #11ce66;
  --sa-counter-pill-color-type-grey: #b4bbc3;
  --sa-counter-pill-color-type-orange: #f74000;
  --sa-counter-pill-color-type-blue: #1bbae1;
  --sa-counter-pill-color-type-green: #11ce66;
  --sa-list-map-switch-bg-color: #dce1e7;
  --sa-icon-bg-color: #edf1f5;
  --sa-tab-item-bar-color: #6d7478;
  --sa-tab-item-txt-hover-color: #f74000;
  --sa-tab-item-txt-active-color: #f74000;
  --sa-tab-item-bar-active-color: #f74000;
  --sa-tab-border-color: #dce1e7;
  --sa-tooltip-text-color: #fff;
  --sa-tooltip-bg-color: #3b3b3b;
  --sa-alert-info-bg-color: #f8f9fb;
  --sa-alert-warning-bg-color: #fdf6ec;
  --sa-alert-success-bg-color: #ecfbf3;
  --sa-alert-error-bg-color: #fdedea;
  --sa-info-box-title-color: #3b3b3b;
  --sa-info-box-icon-color: #6d7478;
  --sa-status-selector-divide-border-color: rgba(255, 255, 255, .25);
  --sa-status-selector-in-bg-color: #11ce66;
  --sa-status-selector-in-hover-bg-color: #15a756;
  --sa-status-selector-out-bg-color: #b4bbc3;
  --sa-status-selector-out-hover-bg-color: rgba(109, 116, 120, .7);
  --sa-status-selector-remote-bg-color: #1bbae1;
  --sa-status-selector-remote-hover-bg-color: #099ed1;
  --sa-status-selector-pending-bg-color: #f74000;
  --sa-status-selector-pending-hover-bg-color: #d83b05;
  --sa-status-selector-denied-bg-color: #b4bbc3;
  --sa-status-selector-denied-hover-bg-color: rgba(109, 116, 120, .7);
  --sa-col-icon-checked-evacuation: #fff;
  --sa-col-evacuation-check: #b4bbc3;
  --sa-col-evacuation-checked: #11ce66;
  --sa-col-evacuation-checked-bg: #f3fdf7;
  --sa-input-number-icon-color: #6d7478;
  --sa-input-number-icon-color-focus: #1bbae1;
  --sa-input-number-bg: #fff;
  --sa-input-number-border-color-disabled: #dce1e7;
  --sa-expandable-box-header-icon-color: #6d7478;
  --sa-map-marker-active-bg: #11ce66;
  --sa-map-marker-active-hover: #15a756;
  --sa-map-marker-adding-bg: rgba(17, 206, 102, .35);
  --sa-map-marker-inactive-bg: #6d7478;
  --sa-map-marker-inactive-hover: #3b3b3b;
  --sa-checkbox-border-color: #b4bbc3;
  --sa-checkbox-hover-border-color: #6d7478;
  --sa-radio-inner-dot-bg-color-active: #fff;
  --sa-checkbox-bg-disabled: #edf1f5;
  --sa-checkbox-border-disabled: #dce1e7;
  --sa-checkbox-text-disabled: #b4bbc3;
  --sa-checkbox-hover-with-borders: #b4bbc3;
  --sa-checkbox-border-with-borders-disabled: #dce1e7;
  --sa-checkbox-bg-with-borders: #fff;
  --sa-checkbox-bg-with-borders-disabled: #f8f9fb;
  --sa-input-icon-prefix-color: #6d7478;
  --sa-ipad-elements-background-color: rgba(0, 0, 0, .3);
  --sa-ipad-arrow-bg: rgba(109, 116, 120, .6);
  --sa-ipad-arrow-bg-hover: rgba(109, 116, 120, .8);
  --sa-color-ipad-frame: #8F9595;
  --sa-color-ipad-border: #000;
  --sa-color-ipad-background: #fff;
  --sa-ipad-overlays-border-color: #edf1f5;
  --sa-ipad-overlays-background-color: rgba(0, 0, 0, .4);
  --sa-divider-bg-within-popover: #fff;
  --sa-order-summary-bg-color: #f5fbfd;
  --sa-order-summary-border-color: #c4e7f5;

  --sa-menu-active-color: var(--sa-color-primary);
  --sa-menu-text-color: var(--sa-text-color-primary);
  --sa-menu-hover-text-color: var(--sa-color-primary);
  --sa-menu-bg-color: var(--sa-fill-color-blank);
  --sa-menu-hover-bg-color: var(--sa-color-primary-light-9);
  --sa-menu-item-height: 56px;
  --sa-menu-sub-item-height: calc(var(--sa-menu-item-height) - 6px);
  --sa-menu-horizontal-sub-item-height: 36px;
  --sa-menu-item-font-size: var(--sa-font-size-base);
  --sa-menu-item-hover-fill: var(--sa-color-primary-light-9);
  --sa-menu-border-color: var(--sa-border-color);
  --sa-menu-base-level-padding: 20px;
  --sa-menu-level-padding: 20px;
  --sa-menu-icon-width: 24px;

  --sa-color-primary-rgb: 27, 186, 225;
  --sa-color-success-rgb: 17, 206, 102;
  --sa-color-warning-rgb: 230, 162, 60;
  --sa-color-danger-rgb: 245, 108, 108;
  --sa-color-error-rgb: 255, 49, 38;
  --sa-color-info-rgb: 109, 116, 120;
  --sa-font-size-extra-large: 20px;
  --sa-font-size-large: 18px;
  --sa-font-size-medium: 16px;
  --sa-font-size-base: 14px;
  --sa-font-size-small: 13px;
  --sa-font-size-extra-small: 12px;
  --sa-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --sa-font-weight-primary: 500;
  --sa-font-line-height-primary: 24px;
  --sa-index-normal: 1;
  --sa-index-top: 1000;
  --sa-index-popper: 2000;
  --sa-border-radius-base: 4px;
  --sa-border-radius-small: 2px;
  --sa-border-radius-round: 20px;
  --sa-border-radius-circle: 100%;
  --sa-transition-duration: .3s;
  --sa-transition-duration-fast: .1s;
  --sa-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
  --sa-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
  --sa-transition-all: all var(--sa-transition-duration) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-fade: opacity var(--sa-transition-duration) var(--sa-transition-function-fast-bezier);
  --sa-transition-md-fade: transform var(--sa-transition-duration) var(--sa-transition-function-fast-bezier), opacity var(--sa-transition-duration) var(--sa-transition-function-fast-bezier);
  --sa-transition-fade-linear: opacity var(--sa-transition-duration-fast) linear;
  --sa-transition-border: border-color var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-box-shadow: box-shadow var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-transition-color: color var(--sa-transition-duration-fast) var(--sa-transition-function-ease-in-out-bezier);
  --sa-component-size-large: 40px;
  --sa-component-size: 32px;
  --sa-component-size-small: 24px;

  --breakpoint-xs: 490px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 991px;
  --breakpoint-lg: 1024px;

  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-headings: "VisbyCF", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-thin: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.fs--1 {
  font-size: .8rem
}

.form-control,
.form-select {
  font-size: var(--body-font-size);
}

.btn {
  font-size: var(--body-font-size);
}

::selection {
  background-color: green;
  color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb, .picmo__picker.picmo__picker .picmo__emojiArea::-webkit-scrollbar-thumb, html:not(.navbar-vertical-collapsed) .navbar-vertical .navbar-vertical-content::-webkit-scrollbar-thumb, .scrollbar-overlay::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 3px;
  background-color: var(--scrollbar-bg);
}

.scrollbar::-webkit-scrollbar, .scrollbar-overlay::-webkit-scrollbar {
  visibility: hidden;
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:focus::-webkit-scrollbar,
.scrollbar:focus::-webkit-scrollbar-thumb,
.scrollbar-overlay:hover::-webkit-scrollbar,
.scrollbar-overlay:hover::-webkit-scrollbar-thumb,
.scrollbar-overlay:focus::-webkit-scrollbar,
.scrollbar-overlay:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header ul {
  list-style: none;
}

.header .nav-item {
  padding: 0 20px;
  position: relative;
}

.header .nav-item a,
.header .nav-item span {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.header .nav-item a.active,
.header .nav-item a:hover,
.header .nav-item span.active,
.header .nav-item span:hover {
  color: #f74000;
}

.header .nav-item .user-menu {
  position: absolute;
  top: 100%;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .15);
  display: none;
  min-width: 200px;
}

.header .nav-item:hover .user-menu {
  display: block;
}

.header .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header .nav-profile {
  color: #012970;
}

.header .nav-profile img {
  max-height: 36px;
}

.header .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header .notifications {
  inset: 8px -15px auto auto !important;
}

.header .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header .messages {
  inset: 8px -15px auto auto !important;
}

.header .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header .messages .message-item a {
  display: flex;
}

.header .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header .profile .dropdown-header span {
  font-size: 14px;
}

.header .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3s;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i:not(.bi) {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item + .post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}

.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.sortable {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.sortable th a {
  position: relative;
}

.sortable.ascending::before {
  opacity: 0.6;
}

.sortable.descending::after {
  opacity: 0.6;
}

.sortable::before,
.sortable::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.2;
}

.sartable::before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #000;
  top: 0;
}

.sartable::after {
  border-top: 4px solid #000;
  border-bottom: 4px solid transparent;
  bottom: 0;
}

/*********************/
.avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.avatar-l {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar img {
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar img, .avatar .avatar-name {
  width: 100%;
  height: 100%;
}

.avatar img {
  display: block;
}

.avatar .clear {
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

.avatar.has-img .clear {
  display: block;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.sa-button {
  --sa-button-bg-color: var(--sa-color-primary);
  --sa-button-border-color: var(--sa-color-primary);
  --sa-button-text-color: var(--sa-color-white);
  --sa-button-hover-text-color: var(--sa-button-text-color);
  --sa-button-hover-bg-color: var(--sa-button-primary-hover-color);
  --sa-button-hover-border-color: var(--sa-button-primary-hover-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--sa-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: var(--sa-font-weight-primary);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--sa-button-bg-color);
  border: var(--sa-border);
  border-color: var(--sa-button-border-color);
  padding: 8px 15px;
  font-size: var(--sa-font-size-base);
  border-radius: var(--sa-border-radius-base);
}

.sa-button:hover, .sa-button:focus {
  color: var(--sa-button-hover-text-color);
  border-color: var(--sa-button-hover-border-color);
  background-color: var(--sa-button-hover-bg-color);
  outline: none;
}

.sa-button--large {
  --sa-button-size: 40px;
  height: var(--sa-button-size);
  padding: 12px 19px;
  font-size: var(--sa-font-size-base);
  border-radius: var(--sa-border-radius-base);
}

/*--------------------------------------------------------------
# Select
--------------------------------------------------------------*/
.sa-select {
  --sa-select-border-color-hover: var(--sa-border-color-hover);
  --sa-select-disabled-border: var(--sa-disabled-border-color);
  --sa-select-font-size: var(--sa-font-size-base);
  --sa-select-close-hover-color: var(--sa-text-color-secondary);
  --sa-select-input-color: var(--sa-text-color-placeholder);
  --sa-select-multiple-input-color: var(--sa-text-color-regular);
  --sa-select-input-focus-border-color: var(--sa-color-primary);
  --sa-select-input-font-size: 14px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 32px;
}

.sa-select--large {
  line-height: 40px;
}

.sa-select .sa-input {
  display: flex;
}

/*--------------------------------------------------------------
# Input
--------------------------------------------------------------*/
.sa-input {
  --sa-input-text-color: var(--sa-text-color-regular);
  --sa-input-border: var(--sa-border);
  --sa-input-hover-border: var(--sa-border-color-hover);
  --sa-input-focus-border: var(--sa-color-primary);
  --sa-input-transparent-border: 0 0 0 1px transparent inset;
  --sa-input-border-color: var(--sa-border-color);
  --sa-input-border-radius: var(--sa-border-radius-base);
  --sa-input-bg-color: var(--sa-fill-color-blank);
  --sa-input-icon-color: var(--sa-text-color-placeholder);
  --sa-input-placeholder-color: var(--sa-text-color-placeholder);
  --sa-input-hover-border-color: var(--sa-border-color-hover);
  --sa-input-clear-hover-color: var(--sa-text-color-secondary);
  --sa-input-focus-border-color: var(--sa-color-primary);
  --sa-input-height: var(--sa-component-size);
  position: relative;
  font-size: var(--sa-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--sa-input-height);
  box-sizing: border-box;
  vertical-align: middle;
}

.sa-input .sa-input__inner, .sa-textarea .sa-textarea__inner {
  --sa-input-text-color: var(--sa-text-color-primary);
}

.sa-input--large {
  --sa-input-height: var(--sa-component-size-large);
  font-size: 14px;
}

.sa-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--sa-input-bg-color, var(--sa-fill-color-blank));
  background-image: none;
  border-radius: var(--sa-input-border-radius, var(--sa-border-radius-base));
  transition: var(--sa-transition-box-shadow);
  transform: translateZ(0);
  box-shadow: 0 0 0 1px var(--sa-input-border-color, var(--sa-border-color)) inset;
}

.sa-input__inner {
  --sa-input-inner-height: calc(var(--sa-input-height, 32px) - 2px);
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  color: var(--sa-input-text-color, var(--sa-text-color-regular));
  font-size: inherit;
  height: var(--sa-input-inner-height);
  line-height: var(--sa-input-inner-height);
  padding: 0;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
}

.sa-input--large .sa-input__inner {
  --sa-input-inner-height: calc(var(--sa-input-height, 40px) - 2px);
}

.sa-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--sa-input-icon-color, var(--sa-text-color-placeholder));
  transition: all var(--sa-transition-duration);
  pointer-events: none;
}

.sa-input__suffix-inner {
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sa-select .sa-input .sa-select__caret.a-icon {
  position: relative;
  height: inherit;
  z-index: 2;
  color: var(--sa-select-caret-icon-color);
}

.sa-select .sa-input .sa-select__caret {
  color: var(--sa-select-input-color);
  font-size: var(--sa-select-input-font-size);
  transition: transform var(--sa-transition-duration);
  transform: rotate(0);
  cursor: pointer;
}

.sa-input__suffix-inner > :first-child {
  margin-left: 8px;
}

.sa-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.sa-icon svg {
  height: 1em;
  width: 1em;
}

.sa-select__popper.sa-popper {
  background: var(--sa-bg-color-overlay);
  border: 1px solid var(--sa-border-color-light);
  box-shadow: var(--sa-box-shadow-light);
}

.sa-popper.is-pure {
  padding: 0;
}

.sa-popper.is-light {
  background: var(--sa-bg-color-overlay);
  border: 1px solid var(--sa-border-color-light);
}

.sa-popper {
  position: absolute;
  border-radius: var(--sa-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;
}

.sa-popper {
  --sa-popover-bg-color: var(--sa-bg-color-overlay);
  --sa-popover-font-size: var(--sa-font-size-base);
  --sa-popover-border-color: var(--sa-border-color-lighter);
  --sa-popover-padding: 12px;
  --sa-popover-padding-large: 18px 20px;
  --sa-popover-title-font-size: 16px;
  --sa-popover-title-text-color: var(--sa-text-color-primary);
  --sa-popover-border-radius: 4px;
  --sa-popper-border-radius: var(--sa-popover-border-radius, 4px);
}

.sa-popper[data-popper-placement^=bottom] > .sa-popper__arrow {
  top: -5px;
}

.sa-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.sa-select__popper.sa-popper[data-popper-placement^=bottom] .sa-popper__arrow:before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.sa-select__popper.sa-popper .sa-popper__arrow:before {
  border: 1px solid var(--sa-border-color-light);
}

.sa-popper[data-popper-placement^=bottom] .sa-popper__arrow:before {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

.sa-popper[data-popper-placement^=bottom] > .sa-popper__arrow:before {
  border-top-left-radius: 2px;
}

.sa-popper.is-light .sa-popper__arrow:before {
  border: 1px solid var(--sa-border-color-light);
  background: var(--sa-bg-color-overlay);
  right: 0;
}

.sa-popper__arrow:before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: " ";
  transform: rotate(45deg);
  background: var(--sa-text-color-primary);
  box-sizing: border-box;
}

.sa-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.sa-scrollbar {
  --sa-scrollbar-opacity: .3;
  --sa-scrollbar-bg-color: var(--sa-text-color-secondary);
  --sa-scrollbar-hover-opacity: .5;
  --sa-scrollbar-hover-bg-color: var(--sa-text-color-secondary);
}

.sa-select-dropdown__wrap {
  max-height: 274px;
}

.sa-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}

.sa-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}

.sa-select-dropdown__list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-sizing: border-box;
}

.sa-select-dropdown .sa-select-dropdown__item.selected {
  font-weight: var(--font-semi-bold);
}

.sa-select-dropdown__item.selected {
  color: var(--sa-color-primary);
  font-weight: 700;
}

.sa-select-dropdown .sa-select-dropdown__item {
  line-height: 30px;
  height: 30px;
  color: var(--sa-text-color-primary);
}

.sa-select-dropdown__item {
  font-size: var(--sa-font-size-base);
  padding: 0 32px 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--sa-text-color-regular);
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
