<!DOCTYPE html>
<html>
<head>
  <% include elements/header.ejs %>
</head>
<body>
<% include elements/navbar.ejs %>
<main id="main" class="main">
  <%- body; %>
</main>
<% include elements/script.ejs %>
</body>
</html>