<base href="/" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Item Management</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="./assets/images/favicon.png" rel="icon">
<link href="./assets/images/apple-touch-icon123.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="vendor/bootstrap-icons/bootstrap-icons.css">
<link href="vendor/fontawesome/css/all.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="css/admin.css" rel="stylesheet">